---
layout: default
title: Tag
---

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

	<div class="post-list container blog-list-container hidden" id="{{ t }}-container">

    <div class="header-tag-title">
        <h2>
          Tag: <span class="title-tag">{{ t }}</span>
        </h2>
    </div>

    <div class="row-1">
  		{% for post in posts limit: 1 %}
        <div class="col-md-12">
          {% if post.tags contains t %}
            <div class="tag-card card">
              <div class="card-img">
                <img class="img-responsive" src="{{ post.image }}" />
              </div>
    		      <div class="post-content">
    		        <h2>
    		          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    		        </h2> {% if post.dek %}
    		        <h3 class="post-dek">&mdash; {{post.dek}}</h3>{% endif %} {% if post.lede %}
    		        <p class="post-lede">{{post.lede}}</p>{% endif %}
    		        <div class="button">
    		          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">READ MORE</a>
    		        </div>
    		      </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="row-2">
  		{% for post in posts limit: 2 offset: 1 %}
        <div class="col-md-6">
          {% if post.tags contains t %}
            <div class="tag-card card">
              <div class="card-img">
                <img class="img-responsive" src="{{ post.image }}" />
              </div>
    		      <div class="post-content">
    		        <h2>
    		          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    		        </h2> {% if post.dek %}
    		        <h3 class="post-dek">&mdash; {{post.dek}}</h3>{% endif %} {% if post.lede %}
    		        <p class="post-lede">{{post.lede}}</p>{% endif %}
    		        <div class="button">
    		          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">READ MORE</a>
    		        </div>
    		      </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="row-3">
  		{% for post in posts limit: 3 offset: 3 %}
        <div class="col-md-4">
          {% if post.tags contains t %}
            <div class="tag-card card">
              <div class="card-img">
                <img class="img-responsive" src="{{ post.image }}" />
              </div>
    		      <div class="post-content">
    		        <h2>
    		          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    		        </h2> {% if post.dek %}
    		        <h3 class="post-dek">&mdash; {{post.dek}}</h3>{% endif %} {% if post.lede %}
    		        <p class="post-lede">{{post.lede}}</p>{% endif %}
    		        <div class="button">
    		          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">READ MORE</a>
    		        </div>
    		      </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

	</div>
{% endfor %}
