<header class="site-header">

  <div class="wrapper">
    <div class="site-title">
      <a class="site-initials" href="{{ site.baseurl }}/">{{ site.initials}}</a>
      <hr class="header-separator"></hr>
      <a class="site-phrase" href="{{ site.baseurl }}/">{{ site.phrase }}</a>
  </div>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa fa-bars"></i>
      </a>

      <div class="trigger">
        {% for item in site.data.settings.menu %}
          <a href="{% if site.baseurl == "/" %}{{ item.url }}{% else %}{{ item.url | prepend: site.baseurl }}{% endif %}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
