<header class="site-header">

  <div class="wrapper">
    <div class="site-title">
      <a class="site-initials" href="{{ site.baseurl }}/">{{ site.initials}}</a>
      <hr class="header-separator"></hr>
      <a class="site-phrase" href="{{ site.baseurl }}/">{{ site.phrase }}</a>
  </div>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa fa-bars"></i>
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
