<nav class="site-nav">
  <div class="nav-title">
    <a href="{{ site.baseurl }}/">{{ site.initials }} // {{ site.phrase }}</a>
  </div>

  <a href="#" class="menu-icon">
    <i class="fa fa-bars"></i>
  </a>

  <div class="trigger">
      <a href="{{ site.baseurl }}/" >HOME</a>
    {% for item in site.data.settings.menu %}
      <a href="{% if site.baseurl == "/" %}{{ item.url }}{% else %}{{ item.url | prepend: site.baseurl }}{% endif %}">{{ item.name }}</a>
    {% endfor %}
      <a href="{{ " /feed.xml " | prepend: site.baseurl }}">RSS</a>
  </div>

  <div class="nav-footer">
    <div class="social-media">
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter-square"></i>
      </a>
      <a href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github-square"></i>
      </a>
    </div>

    <a class="site-email" href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a>

  </div>
</nav>
