/**
 * Posts
 */

.post-dek {
  font-size: $small-font-size;
  font-style: italic;
}

.post-lede {

}

.panel-title {
  font-size: $base-font-size * 1.25;
}

.post-content {
  margin-bottom: $spacing-unit;

  .post-lede {
    font-style: italic;
  }
}
