/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  //position: relative;
}

.site-title {
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: $spacing-unit;
  //margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.site-initials {
  font-size: 45px;
}

.site-phrase {
  font-size: 30px;
}


.header-separator {
  width: 150px;
  margin: auto;
}

.trigger {
  margin: auto;
}

.site-nav {
  text-align: center;
  margin-top: $spacing-unit / 3;
  margin-bottom: $spacing-unit / 3;
}

.menu-icon {
  display: none;
}
