@import '0-partials/menu.scss';
@import '0-partials/page.scss';
@import '0-partials/post.scss';
@import '0-partials/home-cards.scss';
@import '0-partials/tag.scss';
@import '0-partials/footer.scss';


 .pagination {
   text-align: center;
	 padding: 2em;
   font-size: $base-font-size * 1.5;
   font-family: $secondary-font-family;
   margin-top: $spacing-unit * 2;
   margin-bottom: $spacing-unit * 2;
   color: $green-color;
   font-weight: bold;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
   a {
     color: $text-color;
     &:hover {
       text-decoration: none;
       color: $text-color;
     }
   }

	 .pages {
		 flex-grow: 2;
	 }
 }

 @media screen and (max-width: 990px){

	 .card {
		 .card-img {
       max-height: 250px;
     }
		 .post-title {
			 font-size: 1.5rem;
		 }

		 .post-dek {
			 font-size: 1rem;
		 }

		 .post-lede {
			 font-size: 1.1rem;
		 }

		 .button {
			 font-size: 1rem;
	 		 height: $button-height - 5;
	 		 width: $button-width - 50;
		 }
	 }
 }

 @media screen and (max-width: 420px) {
	 .container-fluid {
		 padding: 0;
	 }

	 .card {

      .card-img {
        height: 110px;
      }
  		.post-content {
   	  	padding: 0 1em;
   		}
  	 .post-title {
  		 font-size: 1.1rem;
  	 }

  	 .post-dek {
  		 font-size: .80rem;
  	 }

  	 .post-lede {
  		 font-size: .85rem;
  		 padding: 0 .10em;
  	 }

     .button {
       font-size: .80rem;
       height: $button-height - 10;
       width: $button-width - 75;
     }
	 }

	 .pagination {
		 margin: 0em auto;
		 .pages, .fa-chevron-left, .fa-chevron-right {
			 font-size: .98rem;
		 }
	 }
 }