/**
 *  tag-related styles
 */
.tag-title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3em;

  .title-tag {
   color: $green-color;
  }
}

.tag-card {
  margin-bottom: $spacing-unit * 2;

  .button {
    clear: both;
  }
}
