<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <header class="post-page-header">
    <div class="header-image">
      <div class="overlay"></div>
      <img class="img-responsive" src="{{ page.image }}"/>
    </div>
    <div class="wrapper">
      <div class="site-title">
        <a class="site-initials" href="{{ site.baseurl }}/">{{ site.initials}}</a>
      </div>
    </div>
    <div class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.update %} &nbsp; | &nbsp; <em>Updated: {{ page.update | date: "%b %-d, %Y" }}</em>{% endif %}{% if page.author %} &nbsp; | &nbsp; {{ page.author }}{% endif %}{% if page.meta %} &nbsp; | &nbsp; {{ page.meta }}{% endif %}</p>
    </div>
  </header>

  <div class="page-content">
    <div class="wrapper container">
      <div class="post">
        <div class="image-attribution container">
          <h3>
          {% if page.image-src %}<a href="{{ page.image-src }}">Photo</a> {% endif %}
          by
          {% if page.image-creator-name %}<a href="{{ page.image-creator-url }}">{{ page.image-creator-name }}</a> {% endif %}
          /
          {% if page.image-license %}<a href="{{ page.image-license-url }}">{{ page.image-license }}</a> {% endif %}
          | Modified from original.
          </h3>
        </div>

        <article class="post-content">
          {% if page.lede %}
          <p class="post-lede">{{page.lede}}</p>{% endif %} {{ content }}
        </article>

        <div class="footer-tag">
          <h2>Tagged under:
					{% if page.tags.size > 0 %}
					{% for tag in page.tags %}
          <a href="{% if site.baseurl == "" %}/tag#{{ tag }}{% else %}{{ site.baseurl }}/tag#{{ tag }}{% endif %}" class="tag">{{ tag }}</a>
					{% endfor %}
          </h2>
			{% endif %}
        </div>

        {% include disqus.html %}
      </div>
    </div>
  </div>

  {% include footer.html %} {% include tracking.html %}
</body>

</html>
